name: Sync To Gitee
on: page_build
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: wearerequired/git-mirror-action@master
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
        with:
          source-repo: "git@github.com:qianzai/mydocs.git"
          destination-repo: "git@gitee.com:BuZM/mydocs.git"

      - name: reload
        uses: mizuka-wu/gitee-pages-action@v1.0.0
        with:
            repository: BuZM/mydocs
            cookie: ${{ secrets.GITEE_COOKIE 
             branch: master
             directory: docs
             https: true
